<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html xmlns:th="http://www.w3.org/1999/xhtml">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;	<meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;	<title>登录页面</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h3>登录</h3>&ndash;&gt;-->
<!--&lt;!&ndash;<h3 th:text="${msg}" style="color: red"></h3>&ndash;&gt;-->

<!--&lt;!&ndash;<form method="post" action="login">&ndash;&gt;-->
<!--&lt;!&ndash;	用户名:<input type="text" name="name"/><br/>&ndash;&gt;-->
<!--&lt;!&ndash;	密码：<input type="password" name="password"/><br/>&ndash;&gt;-->
<!--&lt;!&ndash;	<input type="submit" value="登录"/>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--	<meta charset="UTF-8">-->
<!--	<title>CSS登录界面测试</title>-->
<!--	<link rel="stylesheet" type="text/css" href="/css/login.css">-->
<!--	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">-->
<!--</head>-->
<!--<body>-->
<!--<h3 th:text="${msg}" style="color: red"></h3>-->
<!--<div id="login-box">-->
<!--	<h1>Login</h1>-->
<!--	<form method="post" action="login">-->
<!--	<div class="form">-->
<!--		<div class="item">-->
<!--			<i class="fa fa-user" aria-hidden="true"></i>-->
<!--			<input type="text" name="name"/>-->
<!--		</div>-->
<!--		<div class="item">-->
<!--			<i class="fa fa-key" aria-hidden="true"></i>-->
<!--			<input type="password" name="password"/>-->
<!--		</div>-->
<!--	</div>-->
<!--	<button>Login</button>-->
<!--&lt;!&ndash;	<input type ="checkbox" name ="rememberMe" value="true" style="float: right;font-size: 20px;color: brown"/>记住我<br>&ndash;&gt;-->
<!--		<a href="/registers">注册</a><br>-->
<!--		<input type="text" name="code"><img src="/getImage" alt="">-->
<!--	</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
